@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #ffffff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
 
  .gradient-text-animate {
    background-image: linear-gradient(90deg, #0ea5e9, #2563eb, #0ea5e9);
    background-size: 300% 300%;
    animation: gradient-shift 2.5s ease-in-out infinite;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
  }

  .gradient-text-strong {
    background-image: linear-gradient(90deg, #1d4ed8, #4f46e5, #ec4899, #f97316, #1d4ed8);
    background-size: 400% 400%;
    animation: gradient-shift 1.8s linear infinite;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
    font-weight: 800;
  }

  .gradient-text-pink {
    background-image: linear-gradient(90deg, #f973a9, #ec4899, #f973a9);
    background-size: 300% 300%;
    animation: gradient-shift 2.5s ease-in-out infinite;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
  }
}

@keyframes gradient-shift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
